/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/



/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*border: 1px solid indianred;*/
}

/*////////////////////////
    2. Typography
////////////////////////*/

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: medium;
    text-align: center;
}

h1 {
    font-size: 8vw;
    font-weight: bold;
}

.main-header > p {
    font-size: x-small;
    padding-bottom: 10px;
}

h2 {
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    font-size: 20px;
}

/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/
main {
    max-width: 1000px;
    margin: auto;
}

header {
    background-image: url("../assets/images/mountains.jpg");
    border-radius: 0 0 15px 15px;
    background-position: center;
    text-align: center;
    background-size: cover;
    max-height: 500px;
}

.main-header {
    padding: 45px 96px 195px;
}

.image {
    position: relative;
    width: 100%;
}

.freeDomain {
    margin: -5px;
    border-radius: 15px 0 0 15px;
    background: transparent;
    border: 1px solid #1C2B32;
    padding: 10px;
    color: white;
}

.freeDomain::placeholder{
    color: white;
}

.freeDomain:focus{
    outline: none;
}

.search-form {
    height: 25px;
}

.beschikbaar {
    border-radius: 0 15px 15px 0;
    border: 1px solid #1C2B32;
    background-color: #1C2B32;
    color: white;
    padding: 8px; /*dit was eerst 10px, maar blijft niet gelijk*/
    font-family: 'Poppins', sans-serif;
}

.beschikbaar:active {
    background-color: #899CA0;
}

/*///////////// 3.2 Testimonial /////////////*/
.name {
    font-style: italic;
    font-weight: 300;
    margin-left: 15px;
}
.watZeggenKlanten img {
    width: 44px;
    height: 44px;
}

.watZeggenKlanten span {
    vertical-align: middle;
}
.watZeggenKlanten img {
    vertical-align: middle;
}

.watZeggenKlanten span {
    font-style: italic;
    font-weight: 600;
}

.janeDoe > img, figcaption {
    display: inline;
}

.janeDoe {
    width: 100%;
    box-shadow: 0 0 10px grey;
    padding: 50px 50px 50px 100px;
    margin-bottom: 50px;
    border-radius: 5px;
    position: relative;
    /*De position hier is om de apestrof op de juiste positie te krijgen*/
}

.apestrof {
    /*Ik heb een andere apestrof gekozen omdat ik dit wel leuk en mooi vond.*/
    font-size: 50px;
    font-family: "Microsoft YaHei" , serif;
    position: absolute;
    left: 55px;
    top: 38px;
}

.johnSmith {
    width: 100%;
    padding: 50px 50px 50px 100px;
    box-shadow: 0 0 10px grey;
    border-radius: 5px;
    position: relative;
}

.quote {
    position: absolute;
    left: 63px;

}

.watZeggenKlanten .quote {
    width: 25px;
    height: 25px;
}

blockquote {
    margin-bottom: 20px;
}

/*///////////// 3.3 Support /////////////*/
.callcenterImage {
    border-radius: 15px;
    width: 100%;
}

.teamLink {
    color: grey;
    text-decoration: underline;
}

.teamLink:hover {
    color: black;
    text-decoration: none;
}

.wijStaanVoorJeKlaar > h2 {
    margin-top: 50px;
}
.wijStaanVoorJeKlaar > p {
    margin-top: 5px;
}
.neemContactOp {
    width: fit-content;
    margin-top: 10px;
    padding: 7px;
    height: 40px;
    border-radius: 25px;
    background-color: #1C2B32;
    color: white;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    border: none;
}
.neemContactOp:active {
    background-color: #899CA0;
}

/*///////////// 3.4 Faq /////////////*/
details {
    margin-bottom: 15px;
}

summary {
    font-weight: bolder;
}

summary:hover {
    cursor: pointer;
}

details p {
    margin-top: 15px;
    padding: 40px;
    color: white;
    background-color: #899CA0;
    opacity: 70%;
    border-radius: 20px;
}

details[open] {
    background-color: blue;
}

/*///////////// 3.5 Footer /////////////*/
footer {
    margin-top: 50px;
    background-color: #1C2B32;
    color: white;
    text-align: center;
    padding: 50px;
}

footer a {
    color: white;
}