.navigationbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.main-header > h1 {
    font-size: 80px;
}

.login {
    justify-content: right;
}

.textStartingProgrammer {
    text-align: center;
}

footer a {
    color: white;
}

ul > li {
    text-align: center;
}

ul a:hover {
    color: #1C2B32;
    text-decoration: none;
}